*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
}

@font-face {
  font-family: 'Fasthand-Regular';
  src: url('/assets/fonts/Fasthand-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Bacasime Antique';
  src: url('/assets/fonts/BacasimeAntique-Regular.ttf') format('truetype');
  font-display: swap;
}

@keyframes fade-in {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}

html {
  background-color: black;
  font-family: 'Bacasime Antique', sans-serif;
}

body {
 padding: 0;
 margin: 0;
}

h1 {
  font-family: 'Fasthand-Regular', sans-serif;
}

#Thaddeus {
font-size: 50px;
}

.blur {
  filter: blur(4px);
}

.navbar {
  opacity: 0;
  animation: fade-in 1.9s ease-in forwards;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar > ul {
  height: 75px;
  margin-top: 40px;
  padding-right: 20px;
  background-color: white;
  color: black;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.navbar > ul > li {
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
  font-size: 20px;
  color: black;
}

.navbar > ul > li > a {
 text-decoration: underline;
 cursor: pointer;
 color: black;
 font-weight: 600;
}

.navbar > ul > li > h1 {
  cursor: default;
  color: black;
  padding-top: 0px;
 }

.navbar > ul > li:hover, 
.navbar > ul > li:focus {
  transform: scale(1.1);
}

.grid-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 385px);
    grid-template-rows: repeat(3, 385px);
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.images {
  position: relative;
}

.image {
  opacity: 0;
  animation: fade-in 2.3s ease-in forwards;
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
}

.image:focus,
.image:hover {
  z-index: 1;
  transform: scale(1.6);
}

/* we add this to start the animation when in view using intersection observer */
.fade-in {
  opacity: 0;
  animation: fade-in 3s ease-in forwards;
}

#about {
  opacity: 0;
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, rgb(255 255 255), rgb(90 90 121));
}

#about > .textual > p {
  font-weight: 600;
}

.headshot {
  width: 30%;
  border-radius: 8px;
}

.mini {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: none;
}

.textual {
  padding: 10px;
  font-size: 22px;
  width: 30%;
  color: black;
  border-radius: 8px;
}

.footer-ul {
  font-size: 24px;
  color: black;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15%;
  height: 70px;
  background-color: white;
  border-radius: 8px;
  padding: 5px;
}

.footer-ul > li > a {
  color: black;
  font-weight: 600;
}

.footer-ul > li > p {
  font-weight: 600;
}

.footer-ul > li > p > a {
  color: black;
  font-weight: 600;
}

.footer-ul > li {
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
  font-size: 20px;
  color: black;
}

.footer-ul > li:hover, 
.footer-ul > li:focus {
  transform: scale(1.1);
}

@media only screen and (max-width: 1350px) {
 
  .navbar > ul {
    height: 70px;
   }

  .grid-container {
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 400px);
    gap: 2rem;
}

.image {
  height: 400px;
  width: 400px;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
}

.image:focus,
.image:hover {
  transform: scale(1.4)
}

}

@media only screen and (max-width: 990px) {

  .navbar > ul {
    height: 70px;
   }

  .grid-container {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 300px);
    gap: 1.5rem;
}

.image {
  height: 300px;
  width: 300px;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
}

.image:focus,
.image:hover {
  transform: scale(1.5)
}

}

@media only screen and (max-width: 800px) {

  .navbar > ul {
    margin-top: 100px;
    height: 70px;
  }

  .grid-container {
    margin-top: 100px;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    grid-template-columns: repeat(1, 320px);
    grid-template-rows: repeat(1, 320px);
    gap: 1rem;
    margin-left: 50px;
}

.image {
  height: 400px;
  width: 320px;
  border-radius: 8px;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
  transform: scale(1);
}

.image:focus,
.image:hover {
  height: 550px;
  width: 400px;
  transform: scale(1);
}

.about {
  margin-top: 30px;
}

.headshot {
  display: none;
}

.mini {
  display: block;
}

.textual {
  width: 80%;
  font-size: 16px;
}

.footer-ul {
  font-size: 20px;
}

.navbar > ul > li {
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}

.navbar > ul > li:focus,
.navbar > ul > li:hover {
  transform: scale(1);
}

.navbar > ul > li:active {
  transform: scale(0.8);
}

}

@media only screen and (max-width: 595px) {

 .navbar > ul {
  height: 70px;
 }

 .navbar > ul > li {
  font-size: 14px;
  color: black;
 }

 .footer-ul {
  font-size: 18px;
}

}

@media only screen and (max-width: 550px) {

  .navbar > ul {
    height: 70px;
   }

   .navbar > ul > li {
    color: black;
   }

  .grid-container {
    margin-top: 100px;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    grid-template-columns: repeat(1, 320px);
    grid-template-rows: repeat(1, 320px);
    gap: 1rem;
    margin-left: 50px;
}

.image {
  height: 400px;
  width: 320px;
  border-radius: 8px;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
  transform: scale(1);
}

.image:focus,
.image:hover {
  height: 520px;
  width: 390px;
  transform: scale(1);
}

.textual {
  font-size: 14px;
}

.footer-ul > li {
  font-size: 16px;
 }

}

@media only screen and (max-width: 460px) {
  .image {
    height: 380px;
    width: 300px;
 }

 .image:focus,
.image:hover {
  height: 480px;
  width: 320px;
  transform: scale(1);
}

}

@media only screen and (max-width: 400px) {
  
  .navbar > ul {
    flex-direction: column;
    background-color: black;
    gap: 15px;
    margin-top: 45px;
   }

   .navbar > ul > li {
    font-size: 18px;
   }

   .navbar > ul > li > a {
    color: white;
    display: none;
   }

   .navbar > ul > li > h1 {
    color: white;
    font-size: 38px;
    padding-top: 80px;
   }

   #about {
    margin-top: 200px;
   }

   .textual {
    font-size: 14px;
   }

  .grid-container {
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: repeat(1, 250px);
    gap: 1rem;
    margin-left: 30px;
}

.image {
  height: 340px;
  width: 260px;
  border-radius: 8px;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
  transform: scale(1);
}

.image:focus,
.image:hover {
  height: 430px;
  width: 280px;
  transform: scale(1)
}

.footer-ul {
  font-size: 14px;
}

}

@media only screen and (max-width: 305px) {

  .navbar > ul {
    height: auto;
   }

   .navbar > ul > li {
    font-size: 16px;
   }

   .navbar > ul > li > h1 {
    color: white;
    font-size: 32px;
    padding-top: 70px;
   }

   .navbar > ul > li > a {
    color: white;
    display: none;
   }

   .textual {
    font-size: 12px;
   }

  .grid-container {
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: repeat(1, 250px);
    gap: 1rem;
    margin-left: 20px;
}

.image {
  height: 280px;
  width: 200px;
  border-radius: 8px;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
}

.image:focus,
.image:hover {
  height: 320px;
  width: 230px;
  transform: scale(1);
}

.footer-ul > li {
  font-size: 12px;
 }

}